// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

/* Set the background image for the whole page */

body {
  background-image: url("../img/background.jpg"); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  color: black; /* Optional: Make text white for contrast */
}

.shows-container {
  border: 2px solid #333; /* Solid border with black or dark grey color */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 4px; /* Padding inside the container */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Light box shadow */
}

.active-show-container {
  border: 2px solid #333; /* Solid border with black or dark grey color */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 4px; /* Padding inside the container */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Light box shadow */
}

.add-shows-container {
  border: 2px solid #333; /* Solid border with black or dark grey color */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 8px; /* Padding inside the container */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Light box shadow */
}

.show-title {
  height: auto; /* Fill the height of the column */
  font-weight: bold;
}

.rounded-img {
  border-radius: 8px; /* Adjust the value for desired roundness */
}

.add-shows-container .status-radiobuttons {
  border: 1px solid #ccc;
  padding: 10px;
  width: fit-content;
}

.custom-width {
  width: 400px; /* You can adjust this value as needed */
}

.part-name {
  height: auto; /* Fill the height of the column */
  font-weight: bold;
  background-color: blue;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.episode-box {
  height: auto; /* Fill the height of the column */
  font-weight: bold;
  background-color: rgb(78, 78, 218);
  border: 1px solid #ccc;
  border-radius: 8px;
}
